.container {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

/* ヘッダー */
header{
  width: 1170px;
  height: 70px;
  background-color: white;
  top: 0;
  position: fixed;
  z-index: 10;
}

.header-logo{
  width: 150px;
  height:50px;
  float: left;
}

.header-right{
  float: right;
}

.header-right a{
  font-size: 12px;
}

li{
  list-style: none;
  float: left;
  padding-right: 20px;
}

/* トップ */
.top-wrapper{
  background-image: url(images/login.jpg);
  background-size: cover;
  background-color: rgba(219, 216, 216, 0.6);
  background-blend-mode: lighten;
  height: 300px;
  margin-top: 70px;
}

.top-wrapper h1{
  padding: 100px 0 100px 0;
  font-size: 50px;
  color:rgb(46, 46, 46);
  font-family: 'Times New Roman', Times, serif;
} 

.login-wrapper p{
  font-size: 12px;
}

.heading{
    padding: 10px 0px ;
    background-color: rgba(167, 214, 241, 0.521);
    height: 28px;
    margin: 40px 0 20px 0; 
}

.top-wrapper span{
  color: maroon;
}

/* ログイン */
.login_form{
  background-color: rgba(128, 128, 128, 0.308);
  width: 50%;
  margin: 0 auto;
  padding: 20px 20px;
  margin-top: 40px;
}

.login_form h4{
  margin-bottom: 0;
}

.id input, .password input{
  border: solid 2px #aaa;
  border-radius:5px;
  padding:15px;
  width: 400px;
}

.auto-login{
  margin: 15px 0 50px 0;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0 150px;
}

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid maroon;
  position: absolute;
  opacity: .6;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

.submit input{
  width: 200px;
  padding:10px;
  background-color: rgba(128, 0, 0, 0.719);
  color: white;
  font-size: 15px;
  border: solid 2px maroon;
  border-radius: 5px;
  cursor: pointer;
}

/* 新規登録 */
.signup-wrapper{
  background-color: rgba(128, 128, 128, 0.308);
  width: 50%;
  margin: 0 auto;
  padding: 20px 20px;
  margin-top: 40px;
}

.signup-comment{
  font-size: 12px;
}

.signup-wrapper h4{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

button{
  width: 200px;
  padding:10px;
  background-color: rgba(128, 0, 0, 0.719);
  color: white;
  font-size: 15px;
  border: solid 2px maroon;
  border-radius: 5px;
  cursor: pointer;
}

.signup-wrapper span{
  background: linear-gradient(transparent 50%, rgba(128, 0, 0, 0.253) 50%);
}

.signup-wrapper ul{
  margin-top: 30px;
  width: 50%;
  margin: 0 auto;
  background-color: white;
  list-style-type: none;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 30px;
  line-height: 2;

}

.signup-wrapper li{
  float: none;
  position: relative;
  padding-left: 25px;
}

.signup-wrapperli+.signup-wrapperli {
  margin-top: 5px;
}

.signup-wrapper li:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 7px;
  top: .35em;
  left: 6px;
  transform: rotate(50deg);
  border-right: 2px solid maroon;
  border-bottom: 2px solid maroon;
}

.signup-wrapper li:after {
  content: "";
  position: absolute;
  top: .2em;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid maroon;
}

/* フッター */
footer{
  width: 100%;
  height: 50px;
  background-color: white;
  top: 0;
  border-top:  rgba(167, 214, 241, 0.521) solid 1px;
  margin-bottom: 40px;
}

.footer-list a{
  font-size: 14px;
}

.footer-list li{
  padding-left: 30px;
}

.footer-right{
  font-size: 10px;
  color: gray;
  float: right;
}